<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>
<section class="d-flex flex-row justify-content-center m-5 p-5">
	<div
		id="signup-container"
		class="container mt-5 mr-5 auction-flex bg-white"
	>
		<h2 id="heading" class="text-center text-grey">
			<%= auction.cars[0].organizerName %>
		</h2>

		<%- include("../includes/car.ejs", {car: auction.cars[0]}) %>
	</div>

	<div
		id="signup-container"
		class="container auction-flex mt-5 bg-white bid-info"
	>
		<h2 id="heading" class="text-center text-grey">Bid Information</h2>
	</div>
</section>
<%- include("../includes/end.ejs") %>
