<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>
<section
	id="signup-container"
	class="container text-center mt-5 w-100 bg-white"
>
	<h1>Car Information</h1>
	<h2 style="color: <%= car.exteriorColor %>"><%= car.brand %></h2>
	<div class="row row-cols-1">
		<div class=" ">
			<% for(carImage of car.imgs) { %>
			<img
				src="<%= carImage %>"
				class="card-img-top img-fluid w-25 h-25"
				alt="..."
			/>
			<% } %>
		</div>
	</div>
	<div class="row text-center">
		<h2><%= car.model %></h2>
		<h2><%= car.year %></h2>
		<h2><%= car.exteriorColor %></h2>
		<h2><%= car.interiorColor %></h2>
		<h2><%= car.gearType %></h2>
		<h2><%= car.Fuel %></h2>
		<h2><%= car.milage %></h2>
		<h2><%= car.carInspection %></h2>
		<h2><%= car.notes %></h2>
	</div>
</section>
<%- include("../includes/end.ejs") %>
